<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <img
      src="/static/newiserAct/1.jpg"
      alt="newiserAct"
      width="100%"
      height="100%"
    />
    <img
      src="/static/newiserAct/2.jpg"
      alt="newiserAct"
      width="100%"
      height="100%"
    />
    <img
      src="/static/newiserAct/3.jpg"
      alt="newiserAct"
      width="100%"
      height="100%"
    />
    <img
      src="/static/newiserAct/4.jpg"
      alt="newiserAct"
      width="100%"
      height="100%"
    />
    <img
      src="/static/newiserAct/5.jpg"
      alt="newiserAct"
      width="100%"
      height="100%"
    />
    <img
      src="/static/newiserAct/6.jpg"
      alt="newiserAct"
      width="100%"
      height="100%"
    />
    <img
      src="/static/newiserAct/7.jpg"
      alt="newiserAct"
      width="100%"
      height="100%"
    />
  </body>
</html>
/static/1
